.App-Container {
    display: flex;
    flex-direction: column;
    background-color: #282c34;
    color: white;
}

.Container {
    display: flex;
    flex-direction: row;
    background-color: #282c34;
    color: white;
}

.Footer-container {
    margin-top: auto;
    background-color: #20232a; 
    width: 100%;
    color: white;
}

.Main {
    display: flex;
    flex-direction: column;
    width: 100%;
}